YOUR_TARGET_CLUSTER=hive-server
YOUR_CLIENT=test-client-new
YOUR_PROJECT=retail-poc-demo
YOUR_REGION=us-east1
YOUR_ZONE=us-east1-b
YOUR_BUCKET=test-client-bucket-new
YOUR_SERVICE_ACCOUNT=hive-demo@retail-poc-demo.iam.gserviceaccount.com
YOUR_NETWORK=default-jg
YOUR_CLIENT_TAG=hive-client
YOUR_STORAGE_CLASS=multi_regional
YOUR_LOCAL_DIR=dataproc-client-vm
YOUR_STORAGE_BUCKET=dataproc-client-bucket-new

##do not change the below as this is needed for startup.template
SUDOUSER="sudo su"
INSTALLDIR=huezep
CONFIGFILE=metadata.config
