# Copyright 2019 Google, Inc.
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
# http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

YOUR_CLIENT=test-client-dp-demo-4
YOUR_TARGET_CLUSTER=hive-server-bigger-2
YOUR_PROJECT=albatross-kvasilakakis-sandbox
YOUR_REGION=us-east1
YOUR_ZONE=us-east1-b
YOUR_BUCKET=test-client-dp-demo-4
YOUR_SERVICE_ACCOUNT=hive-demo@albatross-kvasilakakis-sandbox.iam.gserviceaccount.com
YOUR_NETWORK=default
YOUR_CLIENT_TAG=hive-client
YOUR_STORAGE_CLASS=multi_regional



##do not change the below as this is needed for startup.template
#SUDOUSER="sudo su"
#INSTALLDIR=huezep
#CONFIGFILE=metadata.config
#YOUR_LOCAL_DIR=dataproc-client-vm
