YOUR_TARGET_CLUSTER=hive-server
YOUR_CLIENT=test-client-ssh-2-log-sudobash-rm-2
YOUR_PROJECT=albatross-kvasilakakis-sandbox
YOUR_REGION=us-east1
YOUR_ZONE=us-east1-b
YOUR_BUCKET=test-client-bucket-ssh-2-log-sudobash-rm-2
YOUR_SERVICE_ACCOUNT=hive-demo@albatross-kvasilakakis-sandbox.iam.gserviceaccount.com
YOUR_NETWORK=default
YOUR_CLIENT_TAG=hive-client
YOUR_STORAGE_CLASS=multi_regional
YOUR_LOCAL_DIR=dataproc-client-vm
# YOUR_STORAGE_BUCKET=test-client-bucket-storage-ssh-2-log-sudobash

##do not change the below as this is needed for startup.template
SUDOUSER="sudo su"
INSTALLDIR=huezep
CONFIGFILE=metadata.config
