YOUR_TARGET_CLUSTER=hive-server-2
YOUR_CLIENT=client-vm-img-test-21
YOUR_PROJECT=albatross-kvasilakakis-sandbox
YOUR_REGION=us-east1
YOUR_ZONE=us-east1-b
YOUR_SERVICE_ACCOUNT=hive-demo@albatross-kvasilakakis-sandbox.iam.gserviceaccount.com
YOUR_NETWORK=default
YOUR_CLIENT_TAG=hive-client
YOUR_LOCAL_DIR=dataproc-client-vm

YOUR_IMAGE=dproclient-image-huezep-3
OLD_TARGET_CLUSTER=hive-server
IMG_MACHINE_TYPE=n1-standard-1
IMG_BOOT_DISK_SIZE=200GB
IMG_BOOT_DISK_TYPE=pd-standard





##do not change the below as this is needed for startup.template
SUDOUSER="sudo su"
#INSTALLDIR=huezep
CONFIGFILE=metadata.config
