YOUR_TARGET_CLUSTER=hive-server-bigger
YOUR_CLIENT=client-vm-img-test-normal-bigger
YOUR_PROJECT=albatross-kvasilakakis-sandbox
YOUR_REGION=us-east1
YOUR_ZONE=us-east1-b
YOUR_SERVICE_ACCOUNT=hive-demo@albatross-kvasilakakis-sandbox.iam.gserviceaccount.com
YOUR_NETWORK=default
YOUR_CLIENT_TAG=hive-client


YOUR_IMAGE=test-client-ssh-normal-2-m-image
OLD_TARGET_CLUSTER=test-client-ssh-normal-2
IMG_MACHINE_TYPE=n1-standard-1
IMG_BOOT_DISK_SIZE=200GB
IMG_BOOT_DISK_TYPE=pd-standard





##do not change the below as this is needed for startup.template
#SUDOUSER="sudo su"
#INSTALLDIR=huezep
#CONFIGFILE=metadata.config
#YOUR_LOCAL_DIR=dataproc-client-vm
